
body{
    background-color: #6C22A6;
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #83C0C1;
    font-family: 'EB Garamond', serif;
    font-family: 'Lemon', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
}
.player_room{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap:5%;

}
.dice_room{
    display: flex;
    justify-content: center;
    gap: 5%;
}
#player1{
    margin-right: 200px;
}
#dice1{
    text-align: center;
}
#dice2{
    text-align: center;
}





